POSTGRES_DB=sigetad_db
POSTGRES_USER=sigetad_user
POSTGRES_PASSWORD=sigetad_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=dev-secret-key-change-me
DJANGO_DEBUG=True
BUS_HOST=bus
BUS_PORT=5000
VITE_API_URL=http://localhost:8000/api
